/* #content,#body::-webkit-scrollbar{display: none;} */
/*pages*/
#pages{display: flex;transition: all 250ms;}
.page{align-items: center;display: flex;flex-direction: column;min-width: 100%;padding: 8px;}
#pages[data-step="1"]{transform: translateX(0px);}
#pages[data-step="2"]{transform: translateX(-1000px);}
#pages[data-step="3"]{transform: translateX(-2000px);}
#pages[data-step="4"]{transform: translateX(-3000px);}

.highlight{padding: 4px;border-radius: 4px;background-color: #9a9b94;color: white;}
/*pages*/

#hier-structure h3{font-size: 1.2rem;margin: 8px;}


#operator{background-color: grey;border-radius: 4px;color: white;font-size: 1.10rem; font-weight: bold;margin: 16px;padding: 8px;}
#operator:hover #operator-list{visibility: visible;}

h5{font-size: .9rem;padding: 8px;margin: 0;}

.hierarchies > h6{font-size: .9rem;margin: 8px;font-weight: lighter;}
dialog{border: none;box-shadow: 0 2px 5px 1px rgba(10,10,10,.35);border-radius: 4px;padding: 2em;}

ul{padding-inline-start: 0;font-size: .75rem;border-radius: 4px;}
.card-table ul{max-height: 160px;overflow-y: auto;font-size: .7rem;}
.list ul{max-height: 450px;overflow-y: auto;margin: 8px;width: 100%;min-width: 300px;}
ul > li{list-style: none;padding: 6px;margin: 2px 8px;}
ul > li:hover{list-style: none;padding: 6px;background-color: #d4d6c8;border-radius: 4px;cursor: pointer;}
ul > li[selected]{list-style: none;padding: 6px;background-color: #d4d6c8;border-radius: 4px;cursor: pointer;}
.lists > .list{display: flex;flex-direction: column;align-items: center;width: 100%;}
.table-selected{background: #dbd7cb;padding: 8px;border-radius: 4px;margin: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-table ul > .element:not([hide]){display: flex;justify-content: space-between;align-items: center;margin: 2px 6px;}
.card-table ul > .element[hide] {display: none;}
.card-table > h5:hover{text-decoration: underline;}
.card-table ul > .element li{width: 100%;list-style-type: none;height: 30px;display: flex;align-items: center;padding: 0 6px;}
.card-table[columns] ul > .element li[selected]{background-color: #9a6a6a;border-radius: 4px;padding: 0 6px;}
.card-table[filters] ul > .element li[selected]{background-color: #3b7096;border-radius: 4px;padding: 0 6px;}
.card-table[groupby] ul > .element li[selected]{background-color: #c7b198;border-radius: 4px;padding: 0 6px;}
.card-table[hierarchies] ul > .element li:hover{background-color: #99b19c;border-radius: 4px;padding: 0 6px;color: white;}
.card-table[columns] ul > .element li:hover{background-color: #9a6a6a;border-radius: 4px;padding: 0 6px;color: white;}
.card-table[filters] ul > .element li:hover{background-color: #3b7096;border-radius: 4px;padding: 0 6px;color: white;}
.card-table[groupby] ul > .element li:hover{background-color: #c7b198;border-radius: 4px;padding: 0 6px;color: white;}
.card-table[metrics] ul > .element li:hover{background-color: #587850;border-radius: 4px;padding: 0 6px;color: white;}


.card-table ul > .element li:not([hierarchy]) ~ #hierarchy-icon{visibility: hidden;}
.card-table ul > .element li[hierarchy]:not([data-relation-id]) ~ #hierarchy-icon{visibility: visible;}
.card-table ul > .element li[hierarchy][data-relation-id] ~ #hierarchy-icon{visibility: visible;color: #99b19c;}
.card-table ul > .element li:not([columns]) ~ #columns-icon{visibility: hidden;}
.card-table ul > .element li[columns] ~ #columns-icon{visibility: visible;color: #9a6a6a;}
.card-table ul > .element li:not([filters]) ~ #filters-icon{visibility: hidden;}
.card-table ul > .element li[filters] ~ #filters-icon{visibility: visible;color: #3b7096;}
.card-table ul > .element li:not([metrics]) ~ #metrics-icon{visibility: hidden;}
.card-table ul > .element li[metrics] ~ #metrics-icon{visibility: visible;color: #587850;}
.card-table ul > .element li:not([groupby]) ~ #groupby-icon{visibility: hidden;}
.card-table ul > .element li[groupby] ~ #groupby-icon{visibility: visible;color: #c7b198;}




.help[alert]{content: 'test';}


div[tables-columns]{display: grid;grid-template-columns: max-content max-content; grid-column-gap: 16px;}

#hier-structure{display: flex;flex-direction: column;align-items: center;width: 100%;}

.lists{display: flex;}


.structure{width: 100%;justify-content: center;display: flex;}
.structure .card-table{border-radius: 4px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: white;color: #494949;padding: 8px;opacity: .6;position: relative;max-width: 300px;width: 300px;min-width: 300px;}
.structure .card-table[fact-table]{background: var(--main-third-color);}
#fact-card{display: flex;align-items: flex-end;}
.structure .card-table > .help{font-size: .65rem;padding: 4px;height: 36px;}
.structure .card-table > .help[alert]{background: indianred;color: white;}
.structure .card-table[hierarchies] > .help{background: #99b19c;color: white;}
.structure .card-table[columns] > .help{background: #9a6a6a;color: white;}
.structure .card-table[filters] > .help{background: #3b7096;color: white;}

.structure .card-table[active]{opacity: 1;}
.structure .card-table[hierarchies]{opacity: 1;}

.structure .card-table[fact-table]:hover{cursor: pointer;opacity: 1;}
.structure .card-table:hover{cursor: pointer;opacity: 1;}

.structure .relation{align-items: center;display: flex;flex-direction: column;margin: 8px 0;}
.structure .factContainerCards .relation{justify-content: center;}
.structure .relation > .line{background: grey;width: 1px;height: 40px;}
.structure .icon-relation{display: flex;justify-self: center;/*direction: rtl;*/position: relative;margin-top: 4px;margin-bottom: 4px;}

/* page 2*/
.page[data-step="2"] .structure{}
/* page 2*/

.icon-relation:hover i:first-child{opacity: 1;}
.icon-relation i:first-child{opacity: .7;}
.icon-relation i.anim{position: absolute;top: auto;visibility: hidden;transition: left 300ms;left: 0;}
.icon-relation i.vertical-anim{position: absolute;top: 0; visibility: hidden;transition: top 250ms; left: auto;}

.icon-relation:hover i.anim:nth-child(2){color: #99b19c;left: calc(36px * 1);visibility: visible;opacity: .7;padding-left: 16px;padding-right: 16px;}
.icon-relation:hover i.anim:nth-child(2):hover{opacity: 1;}
.icon-relation:hover i.vertical-anim:nth-child(2){color: #99b19c;left: auto;visibility: visible;opacity: .7;padding-top: 16px;padding-bottom: 16px;top: 36px;}
.icon-relation:hover i.vertical-anim:nth-child(2):hover{opacity: 1;}
/*left join ;*/
.icon-relation:hover i.anim:nth-child(3){color: #99b19c;left: calc(-56px * 1);visibility: visible;opacity: .7;padding-left: 16px;padding-right: 16px;}
.icon-relation:hover i.anim:nth-child(3):hover{opacity: 1;}
.icon-relation:hover i.vertical-anim:nth-child(3){color: #99b19c;left: auto;visibility: visible;opacity: .7;padding-top: 16px;padding-bottom: 16px;top: -56px;}
.icon-relation:hover i.vertical-anim:nth-child(3):hover{opacity: 1;}
/*right join */
.icon-relation:hover i.anim:nth-child(4){color: #99b19c;left: calc(36px + 56px);visibility: visible;opacity: .7;padding-left: 16px;padding-right: 16px;}
.icon-relation:hover i.anim:nth-child(4):hover{opacity: 1;}
/*remove hierarchies*/
.icon-relation:hover i.vertical-anim:nth-child(4){color: #3b7096;left: auto;visibility: visible;opacity: .7;padding-top: 16px;padding-bottom: 16px;top: calc(36px + 56px);}
.icon-relation:hover i.vertical-anim:nth-child(4):hover{opacity: 1;}
/*remove hierarchies*/
.icon-relation:hover i.anim:nth-child(5){color: #3b7096;left: calc(36px + (56px * 2));visibility: visible;opacity: .7;padding-left: 16px;padding-right: 16px;}
.icon-relation:hover i.anim:nth-child(5):hover{opacity: 1;}


/* .structure .containerCards{width: 60%;} */
.structure .hierarchies{align-items: center;display: flex;flex-flow: column;max-height: 550px;overflow-y: auto;width: 100%;}
.structure .factHierarchies{display: grid; grid-template-columns: auto auto;width: 100%;}
.structure .containerCards > .card{display: flex;flex-direction: column;align-items: center;}
.structure .factContainerCards{display: grid;grid-template-columns: auto auto auto;grid-gap: 16px;justify-content: space-between;margin: 2em;}
.structure .hierarchies::-webkit-scrollbar{display: none;}

.card-layout{display: grid;grid-template-columns: 100%;position: relative;}
.card-layout > section[options]{position: absolute;display: flex;padding: 8px;flex-flow: column;left: calc(100% - 46px);transition: left 200ms, opacity 200ms;opacity: 0;}
.card-layout:hover section[options]{left: 100%;opacity: 1;transition: left 200ms, opacity 200ms;}
section[options] > i[metrics]{color: #587850;}
section[options] > i[columns]{color: #9a6a6a;}
section[options] > i[filters]{color: #3b7096;}
section[options] > i[groupby]{color: #c7b198;}


#structure-test{/*width: 400%;*/overflow-x: hidden;position: relative;}
#structure-test > .steps{display: flex;transition: all 250ms;}
/* #structure-test > .steps{display: grid;grid-template-columns: repeat(4, 50%);transition: all 250ms;width: calc(100% / 4);} */
#structure-test > .steps > div{width: 50%;min-width: 50%;}

/* dialog */
.dialog-buttons{display: flex;flex-flow: row;justify-content: space-between;}
dialog h4{font-size: .9rem;}

.formulaDefine{display: grid;grid-template-columns: auto auto;margin: 1em 0;}
.formulaDefine > .options{align-items: center;display: flex;}
.formulaDefine > .alias, .formulaDefine > .alias{display: flex; flex-direction: column;justify-content: center;}
.formulaDefine .metric-filters{max-height: 450px;overflow-y: auto;width: 100%;}
.formulaDefine > .filtersList{padding: 16px;}
.listContent{align-items: center;display: flex;}
dialog .values{display: flex;flex-direction: column;padding: 16px;}
dialog .filtersList{display: flex;flex-direction: column;}
dialog .miniList{max-height: 100px;overflow-y: auto;}
dialog .formula{padding: 16px;}

.name-alias{display: grid;grid-template-columns: auto auto;}
dialog h6{font-size: .85rem;font-weight: normal;padding: 4px;margin: 0;color: #52524e}
dialog small{font-weight: lighter;padding: 4px;}
/* end dialog */

/*grid Layouts*//*
.grid-2-2{display: grid; grid-template-columns: auto auto;width: 100%;grid-gap: 16px;}
.preview-layout{display: grid;grid-template-areas: "title" "page-by" "body";background: lightgrey;border-radius: 4px;padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);opacity: .6;}
.preview-layout:hover{cursor: pointer;opacity: 1;}
.lyt-page-by{grid-area: page-by;display: grid; grid-template-columns: repeat(4, 60px);justify-content: space-evenly;}
.preview-layout[data-id="layout-0"] .lyt-body{grid-area: body;display: grid;grid-template-columns: 100%;grid-template-rows: 200px;justify-content: center;padding: 16px;}
.preview-layout[data-id="layout-1"] .lyt-body{grid-area: body;display: grid;grid-template-columns: calc(70% - 8px) calc(30% - 8px);grid-template-rows: 200px;
  grid-column-gap: 16px;justify-content: center;padding: 16px;}
.preview-layout[data-id="layout-2"] .lyt-body{grid-area: body;display: grid;grid-template-columns: calc(50% - 8px) calc(50% - 8px);
  grid-gap: 16px; grid-template-rows: repeat(2, calc(100px - 8px));justify-content: center;padding: 16px;}
.preview-layout[data-id="layout-3"] .lyt-body{grid-area: body;display: grid;grid-template-columns: calc(70% - 8px) calc(30% - 8px);
  grid-gap: 16px;justify-content: center;padding: 16px;}
.preview-layout[data-id="layout-3"] .lyt-body section[right-side]{display: grid;grid-template-columns: 100%; grid-template-rows: repeat(2, calc(100px - 8px));
  grid-gap: 16px;justify-content: center;}
.lyt-page-by > div{height: 20px;background-color: #b9b9b9;}
.lyt-report{display: flex;justify-content: center;background: #b9b9b9;}
.lyt-chart{display: flex;justify-content: center;background: #b9b9b9;}
.lyt-mini-report{display: flex;justify-content: center;background: #b9b9b9;}
.lyt-mini-chart{display: flex;justify-content: center;background: #b9b9b9;}

/*titolo della preview pagina*//*
.preview-layout > section[title] h3{font-size: 1rem;}
.preview-layout > section[title] h5{font-size: .8rem;}
*/
/*grid*/
