/* #content,#body::-webkit-scrollbar{display: none;} */
/*pages*/
#pages{display: flex;transition: all 250ms;}
.page{align-items: center;display: flex;flex-direction: column;min-width: 100%;margin: 8px;}
#pages[data-step="1"]{transform: translateX(0px);}
#pages[data-step="2"]{transform: translateX(-1000px);}
#pages[data-step="3"]{transform: translateX(-2000px);}

.page > section{width: 100%;}
/* #hier-structure{display: flex;flex-direction: column;align-items: center;width: 100%;} */
.page > .structure{display: flex;flex-direction: column;align-items: center;width: 100%;}

/* associo il tasto con attributo data-associated-page alla pagina corrente*/
#container[data-page="1"] > #controls button[data-associated-page="1"]{visibility: visible;display: inline-flex;}
#container[data-page="2"] > #controls button[data-associated-page="2"]{visibility: visible;display: inline-flex;}
#container[data-page="3"] > #controls button[data-associated-page="3"]{visibility: visible;display: inline-flex;}


.highlight{padding: 4px;border-radius: 4px;background-color: #9a9b94;color: white;}
/*pages*/

#operator{background-color: grey;border-radius: 4px;color: white;font-size: 1.10rem; font-weight: bold;margin: 16px;padding: 8px;}
#operator:hover #operator-list{visibility: visible;}

h5{font-size: .9rem;padding: 8px;margin: 0;}

.hierarchies > h6{font-size: .9rem;margin: 8px;font-weight: lighter;}
.card-table ul{max-height: 160px;overflow-y: auto;font-size: .7rem;}

.table-selected{background: #dbd7cb;padding: 8px;border-radius: 4px;margin: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card.table ul{padding-inline-start: 0; font-size: .65rem; border-radius: 4px; min-height: 200px; overflow: auto; max-height: 200px;}

.card.table ul > .element li{width: 120px;max-width: 120px;list-style-type: none;display: block;padding: 6px;overflow: hidden;text-overflow: ellipsis;
  white-space: nowrap;}

.card.table[columns] ul > .element li[selected]{background-color: #9a6a6a;border-radius: 4px;}
/* .card.table[filters] ul > .element li[selected]{background-color: #3b7096;border-radius: 4px;} */
.card.table[groupby] ul > .element li[selected]{background-color: #c7b198;border-radius: 4px;}
.card.table[hierarchies] ul > .element li:hover{background-color: #99b19c;border-radius: 4px;color: white;}
.card.table[columns] ul > .element li:hover{background-color: #9a6a6a;border-radius: 4px;color: white;}
/* .card.table[filters] ul > .element li:hover{background-color: #3b7096;border-radius: 4px;color: white;} */
.card.table[groupby] ul > .element li:hover{background-color: #c7b198;border-radius: 4px;color: white;}
.card.table[metrics] ul > .element li:hover{background-color: #587850;border-radius: 4px;color: white;}

.card.table ul > .element li ~ i{color: grey;visibility: hidden;}
.card.table ul > .element li[hierarchy] ~ #hierarchy-icon{visibility: visible;}
.card.table ul > .element li[columns] ~ #columns-icon:not([defined='true']){visibility: visible;}
.card.table ul > .element li[columns] ~ #columns-icon[defined='true']{color: #9a6a6a;visibility: visible;}
/* .card-table ul > .element li[filters] ~ #filters-icon:not([defined='true']){visibility: visible;}
.card-table ul > .element li[filters] ~ #filters-icon[defined='true']{color: #3b7096;visibility: visible;} */
.card.table ul > .element li[metrics] ~ #metrics-icon:not([defined='true']){visibility: visible;}
.card.table ul > .element li[metrics] ~ #metrics-icon[defined='true']{color: #587850;visibility: visible;}
.card.table ul > .element li[groupby] ~ #groupby-icon:not([defined='true']){visibility: visible;}
.card.table ul > .element li[groupby] ~ #groupby-icon[defined='true']{color: #c7b198;visibility: visible;}

.card.table ul > .element li[data-relation-id='true'] ~ #hierarchy-icon{color: #99b19c;}

div[tables-columns]{display: grid;grid-template-columns: max-content max-content; grid-column-gap: 16px;}

.structure{width: 90%;justify-content: flex-end;display: grid;grid-template-columns: auto;}

.card-table{border-radius: 4px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: white;color: #494949;padding: 4px;position: relative;transition: height 1s;}

/* .card-table > .help{font-size: .65rem;padding: 4px;height: 36px;border-radius: 3px; box-shadow: 0 2px 6px -2px #757575;background: var(--main-primary-color);}
.card-table > .help[alert]{background: indianred;color: white;} */
/* .card-table[hierarchies] > .help{background: #99b19c;color: white;}
.card-table[columns] > .help{background: #9a6a6a;color: white;}
.card-table[filters] > .help{background: #3b7096;color: white;}
.card-table[groupby] > .help{background: #c7b198;color: black;}
.card-table[metrics] > .help{background: #587850;color: white;} */

/* .card-table[active]{opacity: 1;}
.card-table[hierarchies]{opacity: 1;} */

/* .card-table[fact-table]:hover{cursor: pointer;opacity: 1;}
.card-table:hover{cursor: pointer;} */

.relation{align-items: center;display: flex;flex-direction: column;margin: 8px 0;}

.relation > .line{background: grey;width: 1px;height: 40px;}
.icon-relation{display: flex;justify-content: center;position: relative;margin-top: 4px;margin-bottom: 4px;}

/*popup*/
/* lo span che contiene l'icona e lo small della popup*/
span.popupContent{display: flex;justify-content: center;}
span.popupContent small{z-index: 5;}
small.popup{background: #494949;border-radius: 4px;color: white;font-size: .7rem;visibility: hidden;white-space: nowrap;
  box-shadow: 0 2px 4px 0 black;padding: 4px 8px;position: absolute;}
/*popup*/

.relation{display: flex;justify-content: center;}
.relation .icon-relation{position: relative;display: flex;justify-content: center;}
/* .relation .icon-relation > span{display: flex;justify-content: center;} */
.relation .icon-relation span:first-child{display: flex;flex-direction: column;align-items: center;background-color: #deb881;z-index: 1;
  border-radius: 50%;color: dimgrey;box-shadow: 0 1px 4px 0px #717171;}
.relation .icon-relation span:not(:first-child){position: absolute;left: 0;transition: left 150ms;z-index: 0;}
/* relazione*/
.relation > .icon-relation:hover span:nth-child(2){left: 36px;padding: 0 12px;color: #99b19c;}
/* left join impostata a sulla sinistra di add*/
.relation > .icon-relation:hover span:nth-child(3){left: calc(-36px - 24px);padding: 0 12px;color: #99b19c;}
/* right join*/
.relation > .icon-relation:hover span:nth-child(4){left: calc(36px + 60px);padding: 0 12px;color: #99b19c;}
/* rimuovi relazione*/
.relation > .icon-relation:hover span:nth-child(5){left: calc(36px + 60px * 2);padding: 0 12px;color: #3b7096;}

.relation > .icon-relation > span > small{top: 46px;}
/* opacity sull'icona */
.relation > .icon-relation:hover > span i{opacity: .5;}
.relation > .icon-relation:hover > span:hover i{opacity: 1;}
.relation > .icon-relation:hover > span:hover > small{animation: popup 50ms ease;visibility: visible;}

@keyframes popup {
  0% {transform: scale(.2);}
  75% {transform: scale(1.10);}
  100% {transition: scale(1);}
}

/* .structure .containerCards{width: 60%;} */
.structure .hierarchies{align-items: center;display: flex;flex-flow: column;max-height: 550px;overflow-y: auto;width: 100%;padding: 1em;}
.structure .containerCards > .card{display: flex;flex-direction: column;align-items: center;}
.structure .hierarchies::-webkit-scrollbar{display: none;}

.card-layout{display: grid;grid-template-columns: 100%;position: relative;}
.cardLayout > section[options]{position: absolute;display: flex;padding: 0 8px;flex-flow: column;left: calc(100% - 46px);transition: left 200ms, opacity 200ms;opacity: 0;}
.cardLayout:hover .cardTable[name] ~ section[options]{left: 100%;opacity: 1;transition: left 200ms, opacity 200ms;}
section[options] i{color: dimgrey;}
section[options] > span > i[metrics]{color: #587850;}
section[options] > span > i[columns]{color: #9a6a6a;}
section[options] > span > i[filters]{color: #3b7096;}
section[options] > span > i[groupby]{color: #c7b198;}

section[options] > span{margin: 2px 0;position: relative;}

section[options] i ~ small{visibility: hidden;}
section[options] i:hover ~ small{visibility: visible;animation: popup 50ms ease;}

section[options] > span > small{top: 32px;z-index: 5;}

/* dialog */
.dialog-buttons{display: flex;flex-flow: row;justify-content: space-between;}
dialog h4{font-size: .9rem;}

.formulaDefine{display: grid;grid-template-columns: auto auto auto;grid-gap: 16px;margin: 1em 0;align-items: center;}
.formulaDefine .field, .formulaDefine .formula, .formulaDefine .values{display: grid;grid-template-rows: 15% auto;align-items: center;height: 100%;}
.formulaDefine .title{align-self: flex-start;}

.formulaDefine > .options{align-items: center;display: flex;}
.formulaDefine > .alias, .formulaDefine > .alias{display: flex; flex-direction: column;justify-content: center;}
.formulaDefine .metric-filters{max-height: 450px;overflow-y: auto;width: 100%;}
.formulaDefine > .filtersList{padding: 16px;}
.listContent{align-items: left;display: flex;min-height: 200px;flex-flow: column;}
.valueContent{align-items: center;display: flex;flex-flow: row;}
dialog .values{display: flex;flex-direction: column;padding: 8px;}
dialog .valuesList{display: flex;flex-direction: column;padding: 8px;max-width: 300px;}
dialog .filtersList{display: flex;flex-direction: column;}
dialog .miniList{max-height: 150px;overflow-y: auto;}
dialog .middleList{max-height: 200px;overflow-y: auto;}
dialog .formula, dialog .field, dialog .values{padding: 8px;}

.name-alias{display: grid;grid-template-columns: auto auto;}
dialog h6{font-size: .85rem;font-weight: normal;padding: 4px;margin: 0;color: #52524e}
dialog small{font-weight: lighter;padding: 4px;}

dialog #between[hidden]{display: none;}
dialog #between{display: flex;flex-direction: column;}
dialog #between > span{padding: 16px;}
/* end dialog */

#formula{background-color: #be7575;padding: 16px;border-radius: 4px;margin: 16px auto;color: white;font-weight: bold;font-size: 1rem;
  display: grid;grid-template-columns: auto auto auto;}
#formula > span{justify-self: center;}

.logicalOperator {display: flex;flex-flow: row;justify-content: space-evenly;padding: 16px;}

.formulaContent {display: flex;}
div.textarea {border: solid thin gainsboro;height: 120px;padding: 8px;font-size: .8rem;width: 90%;}
div.textarea > span{padding: 4px;color: #494949;}
div.textarea > span.formulaOperator{background: #f9c4aa;border-radius: 4px;margin: 0 8px;}
div.textarea > span.formulaValues{/*background: #d2e1c8;*/border-bottom: solid thin gray;padding: 4px 16px;}

/*new*/
#content.dragging{opacity: .6;box-shadow: inset 0px 0px 10px 2px grey;}

.card.table{width: 300px;height: 350px;background: white;position: absolute;font-size: .8rem; border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}

.card.table > .cardLayout{display: grid;grid-template-columns: 100%;position: relative;height: 100%;grid-template-rows: auto 15%;}
.card.table > .cardLayout > .cardTable{position: relative;height: fit-content;display: grid;grid-template-areas: "title" "input" "body";}
.card.table > .cardLayout > .info{font-size: .65rem;padding: 8px;background: chocolate;}

.card.table .cardTable > .title{grid-area: title;height: fit-content;background: tan;border-top-left-radius: 4px;
  border-top-right-radius: 4px;display: flex;align-items: flex-start;justify-content: space-between;}
.card.table .cardTable > .title > h6{padding: 8px 8px 16px 8px; margin: 0;font-size: .75rem;width: 100%;}
.card.table .cardTable > .title > h6:hover{padding: 8px 8px 16px 8px;margin: 0;cursor: move;width: 100%;}

.card.table .cardTable > .input{grid-area: input;}

.card.table .cardTable > .body{grid-area: : body;}

nav[selectable] .menu .cardTable > .title > h6:hover{cursor: pointer;}

.elementMenu{margin: 4px 0;position: relative;height: 30px;display: flex;align-items: center;width: 100%;}
.elementMenu > .card.menu{position: absolute;width: inherit;}
.card.menu{position: absolute;}
.card.menu .cardTable > .title{}
.card.menu .cardTable > .title > h6{margin: 0;font-size: .65rem;padding: 8px;}
.title > h6.dr{background-color: yellow;}
.card.menu .cardTable > .title > h6:hover{margin: 0;font-size: .65rem;padding: 8px;background: gainsboro;cursor: grab;}
/*new*/
