
#pages{width: 100%;overflow-x: hidden;}
#overflowX{display: flex;transition: all 250ms;transform: translateX(0px);}
#overflowX[data-step-active="1"]{transform: translateX(0px);}
#overflowX[data-step-active="2"]{transform: translateX(-800px);}
#overflowX[data-step-active="3"]{transform: translateX(-1600px);}

.page{min-width: 100%;max-width: 800px;transition: all 500ms;transform: translateX(0);}
/* #body{overflow-x: hidden;} */
.steps{display: grid;grid-template-rows: auto;}
.layout[col-x="1"][col-y="2"] {display: grid;grid-template-columns: auto auto;grid-template-rows: auto;}
.layout[col-x="2"][col-y="1"] {display: grid;grid-template-columns: auto;grid-template-rows: auto auto;}
h5{font-size: .9rem;padding: 8px;margin: 0;}

ul{padding-inline-start: 1em;font-size: .75rem;border-radius: 4px;}
.card-table ul{max-height: 160px;overflow-y: auto;font-size: .7rem;}
.list ul{max-height: 550px;overflow-y: auto;background-color: #f0ece2;width: fit-content;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);margin: 8px;}
ul > li{list-style: none;padding: 6px;margin: 2px 8px;}
ul > li:hover{list-style: none;padding: 6px;background-color: #c7b198;border-radius: 4px;cursor: pointer;}
ul > li[selected]{list-style: none;padding: 6px;background-color: #c7b198;border-radius: 4px;cursor: pointer;}

.table-selected{background: #dbd7cb;padding: 8px;border-radius: 4px;margin: 1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-table ul > .element{display: flex;justify-content: space-between;align-items: center;margin: 2px 8px;padding: 2px 8px;}
.card-table ul > .element li{width: 100%;list-style-type: none;height: 30px;display: flex;align-items: center;padding: 0 6px;}
.card-table[columns] ul > .element li[selected]{background-color: #9a6a6a;border-radius: 4px;padding: 0 6px;}
.card-table[filters] ul > .element li[selected]{background-color: #3b7096;border-radius: 4px;padding: 0 6px;}
.card-table[hierarchies] ul > .element li:hover{background-color: #99b19c;border-radius: 4px;padding: 0 6px;color: white;}
.card-table[columns] ul > .element li:hover{background-color: #9a6a6a;border-radius: 4px;padding: 0 6px;color: white;}
.card-table[filters] ul > .element li:hover{background-color: #3b7096;border-radius: 4px;padding: 0 6px;color: white;}
.card-table ul > .element > i{visibility: hidden;}
.card-table ul > .element > li[data-relation-id] ~ small{visibility: visible;;}
.card-table ul > .element > li:not([data-relation-id]) ~ small{visibility: hidden;}

/*li con attributo [relation] visualizzo l'icona relation*/
.card-table[hierarchies] ul > .element li[relation] ~ #hierarchy-icon{visibility: visible;}
.card-table[hierarchies] ul > .element li:not([relation]) ~ #hierarchy-icon{visibility: hidden;}


div[tables-columns]{display: grid;grid-template-columns: max-content max-content; grid-column-gap: 16px;}

#hier-structure{display: flex;flex-direction: column;align-items: center;}

.lists{display: flex;}
ul#tables[fact]{background-color: #494949;color: white;}


.structure{width: 100%;justify-content: center;display: grid;grid-template-columns: 40% 60%;grid-template-rows: auto;}
.structure .card-table{border-radius: 4px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #f0ece2;color: #494949;margin: 8px;opacity: .7;position: relative;max-width: 80%;min-width: 270px;}
.structure .card-table > .help{font-size: .65rem;padding: 4px;height: 36px;}
.structure .card-table > .help[alert]{background: indianred;color: white;}
.structure .card-table[hierarchies] > .help{background: #99b19c;color: white;}
.structure .card-table[columns] > .help{background: #9a6a6a;color: white;}
.structure .card-table[filters] > .help{background: #3b7096;color: white;}

.structure .card-table[active]{opacity: 1;}
.structure .card-table[hierarchies]{opacity: 1;}

.structure .card-table[fact-table]{margin: .5em;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #494949;color: white;}

.structure .card-table[fact-table]:hover{cursor: pointer;opacity: 1;}
.structure .card-table:hover{cursor: pointer;opacity: 1;}

.structure .relation{align-items: center;display: flex;flex-direction: column;}
.structure .relation > .line{background: grey;width: 1px;height: 40px;}
.structure .icon-relation{display: flex;justify-self: center;/*direction: rtl;*/position: relative;margin-top: 4px;margin-bottom: 4px;}

.icon-relation:hover i:first-child{opacity: 1;}
.icon-relation i:first-child{background: #c7b198;opacity: .8;}
.icon-relation i.anim{position: absolute;top: auto;visibility: hidden;transition: left 300ms;left: 0;}
.icon-relation:hover i.anim:nth-child(2){color: #99b19c;left: calc(36px * 1);visibility: visible;opacity: .7;padding-left: 16px;padding-right: 16px;}
.icon-relation:hover i.anim:nth-child(2):hover{opacity: 1;}
.icon-relation:hover i.anim:nth-child(3){color: #9a6a6a;left: calc(36px + 56px);visibility: visible;opacity: .7;padding-left: 16px;padding-right: 16px;}
.icon-relation:hover i.anim:nth-child(3):hover{opacity: 1;}
.icon-relation:hover i.anim:nth-child(4){color: #3b7096;left: calc(36px + (56px * 2));visibility: visible;opacity: .7;padding-left: 16px;padding-right: 16px;}
.icon-relation:hover i.anim:nth-child(4):hover{opacity: 1;}


/* .structure .containerCards{width: 60%;} */
.structure .hierarchies{align-items: center;display: flex;flex-flow: column;max-height: 550px;overflow-y: auto;}
.structure .containerCards > .card{display: flex;flex-direction: column;align-items: center;}
.structure .hierarchies::-webkit-scrollbar{display: none;}
