/*pages*/
#pages{display: flex;transition: all 250ms;}
.page{align-items: center;display: flex;flex-direction: column;min-width: 100%;padding: 8px;}


.highlight{padding: 4px;border-radius: 4px;background-color: #9a9b94;color: white;}
/*pages*/



th{position: relative;}
th i.material-icons{position: absolute;right: 8px;display: inline-table;}

.colProperties{display: flex;flex-flow: row;justify-content: space-between; margin: 16px;align-items: center;}
.colProperties .properties{display: flex;align-items: center;}


.lists{position: relative;}
.absList{width: 250px;background: white;position: absolute;border-radius: 4px;z-index: 6;box-shadow: 0 4px 8px 0px #b5b5b5;
/*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);*/}
.absList > ul{height: 500px;overflow-y: auto;}
i[open]{color: red;}

#layoutStep-1{display: grid; grid-template-columns: 30% auto;}
#layoutStep-2{display: grid; grid-template-columns: 30% auto;}
#layoutStep-3{display: grid; grid-template-columns: 30% auto;}

.overflowList{max-height: 250px; overflow: auto;}

#reportSection{display: flex;flex-flow: row;width: 100%;margin: 16px; padding: 16px;}

table thead{background: indianred;color: white;}
table thead tr > th{border: solid thin;}